{{set . "title" "Home"}}
{{template "header.html" .}}

<header class="jumbotron" style="background-color:#AAAAAA; height: 150px">
  <div class="container">
    <div class="row">
      <h1>Affichons des brainees !</h1>
      <p></p>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="span6">

      <h2>Trouver un brainee :</h2>
      <form action="/App/Brainees" method="GET" id="getBrainee">
        id : <input type="text" name="id">
        <input type="submit" value="Envoyer">
      </form>

      <h2>Envoyer un brainee :</h2>
      <form action="/App/Brainees" method="POST" id="sendBrainee">
        Nom :
          <input type="text" name="author">
        Marque :
          <input type="text" name="brand"><br/>
        Votre idée :<br/>
          <textarea name="text" form="sendBrainee" cols="60" rows="5"></textarea><br/>
        
          <input type="submit" value="Envoyer">
      </form>
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
